{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="intro">
        <div class="container">
            <p>Добро пожаловать в Рецептопедию! Это мой учебный проект по веб-разработке на Python</p>
            {% if user.is_authenticated %}
                <p>Привет, {{ user.username }}! Теперь ты можешь добавлять и редактировать свои рецепты в Рецептопедии.</p>
            {% else %}
                <p>Для того, чтобы добавлять свои рецепты, пожалуйста, зарегистрируйтесь.</p>
            {% endif %}
        </div>
    </div>

    <div class="random-recipes">
        <div class="container">
            <h2>Рецепты дня</h2>
            {% for recipe in recipes %}
                <div class="recipe-summary">
                    <h3><a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.title }}</a></h3>
                    <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
                    <p>Категория: {% for category in recipe.category.all %}<a href="{% url 'category_detail' category.pk %}">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                    <p>Время приготовления: {{ recipe.cooking_time }} минут</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


