{% extends 'base.html' %}

{% block title %}Recipe Detail{% endblock %}

{% block content %}
    <h1>{{ recipe.title }}</h1>
    {% if recipe.image %}
        <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="recipe-image">
    {% else %}
        <p>Изображение отсутствует</p>
    {% endif %}
    <p><strong>Время приготовления:</strong> {{ recipe.cooking_time }} минут</p>
    <p class="ingredients-list"><strong>Ингридиенты:</strong> {{ recipe.ingredients }}</p>
    <p class="description"><strong>Описание:</strong> {{ recipe.description }}</p>
    <p><strong>Автор:</strong> {{ recipe.author.username }}</p>
    <p><strong>Категория:</strong>
        {% for category in recipe.category.all %}
            <a href="{% url 'category_detail' category.pk %}">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}
        {% empty %}
            None
        {% endfor %}
    </p>
    {% if user == recipe.author %}
        <div class="action-buttons">
            <a href="{% url 'recipe_edit' recipe.pk %}" class="action-button">Редактировать</a>
            <form method="post" action="{% url 'recipe_delete' recipe.pk %}" class="action-form">
                {% csrf_token %}
                <button type="submit" class="action-button">Удалить</button>
            </form>

        </div>
    {% endif %}
{% endblock %}
